@model sga.ViewModels.InfoAlarmasViewModel
           
@{
    Layout = "";
}

<table style=" width: 100%">
    <thead>
        <tr>
            <th colspan="2" style="text-align: left;font-size: medium;">General</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Fecha de activa. (T. ON): </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.timeOn</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Descripción: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.descripcion</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Estado: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.estado</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Código: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.codigo</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Grupo: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.grupo</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Prioridad: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.prioridad</label></td>
        </tr>
    </tbody>
</table>

<table style=" width: 100%">
    <thead>
        <tr>
            <th colspan="2" style="text-align: left; font-size: medium;">Mantenimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Alarma IV: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.alarmIv</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Alarma PI: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.alarmaPi</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Sistema: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.sistema</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Dirección: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.direccion</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Bit: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.bit</label></td>
        </tr>
        <tr>
            <td style=" text-align: left; font-weight: bold; "><label>Coil: </label></td>
            <td style=" text-align: left; "><label>@Model.alarma.coil</label></td>
        </tr>
    </tbody>
</table>
