@model sga.ViewModels.HistoricoAlarmasViewModel

@{
    ViewBag.Title = "Histórico de alarmas";
    ViewBag.TitleToolbar = "Filtros para alarmas";
    //ViewBag.Linea = "";
}

@section Styles{
<link href="@Url.Content("~/Content/jquery.dataTables/css/jquery.dataTablesTernium.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery.dataTables/css/jquery.dataTables_themerollerTernium.css")" rel="stylesheet" type="text/css" />
}

@section Breadcrumb{
Histórico de alarmas - <label id="lblLinea">@ViewBag.linea</label>
}

@section Toolbar{
<table>
    <tr>
        <td>
            <span class="titulo">Línea</span><br />
            <select id="ddlFiltroLinea" class="cmbStd cmbMediano inputContenido inputFocus" onchange="ActualizaComboSistema();" >
                @{
                    if (-1 == @ViewBag.idLinea)
                    {
                        <option value="-1">[Seleccionar]</option>
                    }
                    foreach (var item in @Model.lines)
                    {
                        <option value="@item.id_line">@item.line</option>
                    }
                }
            </select>
        </td>
        <td>
            <span class="titulo">Sistema</span><br />
            <select id="ddlFiltroSistema" class="cmbStd cmbMediano inputContenido inputFocus" >
                <option value="-1">Todos</option>
                @{
                    foreach (var item in @Model.sistemas)
                    {
                        <option value="@item.idPlc">@item.description</option>
                    }
                }
            </select>
        </td>
        <td>
            <span class="titulo">Nodo</span><br />
            <select id="ddlFiltroNodo" class="cmbStd cmbMediano inputContenido inputFocus" >
                <option value="-1">Todos</option>
                @{
                    foreach (var item in @Model.nodos)
                    {
                        <option value="@item.idNode">@item.description</option>
                    }
                }
            </select>
        </td>
        <td rowspan="3">
            <span class="titulo">
                Estados &nbsp;
                <img alt="Ayuda: Estados" title="" src="@Url.Content("~/Content/images/help.gif")" border="0" class="estadoTooltip" />
            </span><br />
            <input type="checkbox" id="estadosChckBx1" name="estadosChckBx1" checked="checked" data-label="Ausentes no reconocidas"/><br />
            @*<img alt="" class="ImageCheckbox" title="Ausentes no reconocidas" src="@Url.Content("~/Content/images/estados/est_rojo_m.gif")" />*@
            <input type="checkbox" id="estadosChckBx2" name="estadosChckBx2" data-label="Presentes no reconocidas"/><br />
            @*<img alt="" class="ImageCheckbox" title="Presentes no reconocidas" src="@Url.Content("~/Content/images/estados/est_azul_m.gif")" />*@
            <input type="checkbox" id="estadosChckBx3" name="estadosChckBx3" data-label="Presentes reconocidas"/>
            @*<img alt="" class="ImageCheckbox" title="Presentes reconocidas" src="@Url.Content("~/Content/images/estados/est_verde_m.gif")" />*@
        </td>
    </tr>
    <tr>
        <td>
            <span class="titulo">Descripción</span><br />
            <input id="txtFiltroDescripcion" class="txtStd txtMediano" type="text" value="" />
        </td>

        <td>
            <span class="titulo">Dirección</span><br />
            <input id="txtFiltroDireccion" type="text" class="txtStd txtMediano" value="" />
        </td>

        <td>
            <span class="titulo">Código</span><br />
            <input id="txtFiltroCodigo" type="text" class="txtStd txtMediano" value="" />
        </td>

        
    </tr>

    <tr>
        <td colspan="2">
            <span class="titulo">Periodo de visualización</span><br />
            Desde
            <input type="text" id="txtFiltroDiaInicio" name="txtFiltroDiaInicio" class="txtStd" value="" style="width: 125px;" />
            Hasta
            <input type="text" id="txtFiltroDiaFin" name="txtFiltroDiaFin" class="txtStd" value="" style="width: 125px;" />
        </td>

        <td>
            <span class="titulo">Eventos</span><br />
            <input type="checkbox" id="eventosChckBx1" name="eventosChckBx1" data-label="Ver eventos"/>
        </td>
    </tr>
</table>
}

@section ToolbarButtonRight{
<input id="btnFiltroAlarmas" class="botonFiltro botonPrincipal" type="button" value="Filtrar" onclick="FiltrarHistoricoAlarmas();" />
}

@section Content{

<div id="divHistorical">


</div>

<div id="divDialogAlarmInfo" title="Información de alarma" class="dialogGeneral" style="text-align: center;">

</div>

<div id="divHiddens">
    <input id="hidIdLinea" value="@ViewBag.idLinea" type="hidden" />
    <input id="hidFiltroDescripcion" type="hidden" />
    <input id="hidFiltroSistema" type="hidden" />
    <input id="hidFiltroNode" type="hidden" />
    <input id="hidFiltroDireccion" type="hidden" />
    <input id="hidFiltroCodigo" type="hidden" />
    <input id="hidFiltroDiaInicio" type="hidden" />
    <input id="hidFiltroDiaFin" type="hidden" />
    <input id="hidEstadosChckBx1" type="hidden" />
    <input id="hidEstadosChckBx2" type="hidden" />
    <input id="hidEstadosChckBx3" type="hidden" />
    <input id="hidEventosChckBx1" type="hidden" />
    <input id="hidUrlActualizaComboSistema" type="hidden" value="@Url.Action("ActualizaComboSistema", "Alarm")" />
    <input id="hidUrlAlarmas" type="hidden" value="@Url.Action("Alarmas", "Alarm")" />
    <input id="hidUrlAlarmInfo" type="hidden" value="@Url.Action("VerAlarmInfo", "Alarm")" />
</div>


}

@section Scripts{
<script src="@Url.Content("~/Scripts/jquery.dataTables/jquery.dataTablesTernium.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables/jquery.dataTablesTerniumExt.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Historical/Alarms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.datatimepicker/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>

<script type="text/javascript">
    var dialogAlarmInfo;
    
    $(document).ready(function () {
        console.log("ready1!");

        var date = new Date();

        // solo lectura para los selectores de fecha
        $('#txtFiltroDiaInicio').attr('readonly', true);
        $('#txtFiltroDiaFin').attr('readonly', true);

        $('#txtFiltroDiaFin').datetimepicker({
            dateFormat: 'dd/mm/yy',
            timeFormat: 'HH:mm:ss',
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/calendar/images/calendar.png")',
            buttonImageOnly: true,
            onClose: function (dateText, inst) {
                if ($('#txtFiltroDiaInicio').val() !== '') {
                    var testStartDate = $('#txtFiltroDiaInicio').datetimepicker('getDate');
                    var testEndDate = $('#txtFiltroDiaFin').datetimepicker('getDate');
                    if (testStartDate > testEndDate) {
                        $('#txtFiltroDiaInicio').datetimepicker('setDate', testEndDate);
                    }
                }
                else {
                    $('#txtFiltroDiaInicio').val(dateText);
                }
            },
            onSelect: function (selectedDateTime) {
                $('#txtFiltroDiaInicio').datetimepicker('option', 'maxDate', $('#txtFiltroDiaFin').datetimepicker('getDate'));
            }
        });

        $('#txtFiltroDiaFin').datetimepicker('setDate', date);

        $('#txtFiltroDiaInicio').datetimepicker({
            dateFormat: 'dd/mm/yy',
            timeFormat: 'HH:mm:ss',
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/calendar/images/calendar.png")',
            buttonImageOnly: true,
            onClose: function (dateText, inst) {
                if ($('#txtFiltroDiaFin').val() !== '') {
                    var testStartDate = $('#txtFiltroDiaInicio').datetimepicker('getDate');
                    var testEndDate = $('#txtFiltroDiaFin').datetimepicker('getDate');
                    if (testStartDate > testEndDate) {
                        $('#txtFiltroDiaFin').datetimepicker('setDate', testStartDate);
                    }
                }
                else {
                    $('#txtFiltroDiaFin').val(dateText);
                }
            },
            onSelect: function (selectedDateTime) {
                $('#txtFiltroDiaFin').datetimepicker('option', 'minDate', $('#txtFiltroDiaInicio').datetimepicker('getDate'));
            }
        });
        $('#txtFiltroDiaInicio').datetimepicker('setDate', new Date(date.setMinutes(date.getMinutes() - 300)));

        // actualiza filtros
        ActualizaFiltroContainers();

        // aplica switch on-off al checkbox de eventos
        $('#eventosChckBx1').prettyCheckable({
            color: "gray"
        });

        // aplica cool checkbox style a estados
        $('input#estadosChckBx1').prettyCheckable({
            color: "gray"
        });
        $('input#estadosChckBx2').prettyCheckable({
            color: "gray"
        });
        $('input#estadosChckBx3').prettyCheckable({
            color: "gray"
        });

        // // implementa plugin tooltip
        // $('.ImageCheckbox').tooltip({
        //     show: {
        //         effect: "slideDown",
        //         delay: 250
        //     },
        //     hide: {
        //         effect: "slideDown",
        //         delay: 250
        //     },
        //     position: {
        //         my: "left-50 bottom+20",
        //         at: "right bottom+20"
        //     }
        // });

        $(".estadoTooltip").tooltip({
            
            content: function (callback) {
                $.get("@Url.Action("TooltipEstados", "Alarm")", {}, function (data) {
                    callback(data); //call the callback function to return the value
                });
            }

        });

        // muestra alarmas
        VerAlarms();
    });
</script>
}